<h1>All tags</h1>

<ul>
  <% @tags.each do |tag| %>
    <li>
      <%= link_to tag.name, tag_path(@tag), id: "tag_#{tag.id}" %><%= link_to " x", tag_path(tag), method: :delete %>
    </li>
  <% end %>
</ul>

<br />
<%= link_to "<< Back to articles list", articles_path %>
